.about > .row > .title {
    text-align: center;
    font-size: 2em;
}

.about > div.row > div.col > div.image {
    text-align: center;
}

.about-text {
    text-align: justify;
}

.about {
    margin: 1em;
}
