.contact {
    margin: 1em;
}

.contact > .title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 0.5em;
}

.contact > p {
    text-align: justify;
}

.contact-icon {
    align-self: center;
    margin-bottom: 1em;
}
