.awards > .row > .col.title {
    margin: 1em;
    font-size: 2em;
    text-align: center;
}

.awards > div.row.card-group > div.col-sm-4 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.awards {
    margin: 1em;
}
