@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~react-alice-carousel/lib/alice-carousel.css";

html {
    scroll-behavior: smooth;
}

body {
    background-color: #006dbd;
}

.main-body {
    background-color: white;
    margin-left: 0;
    margin-right: 0;
    min-height: 500px;
}

.segment-slider {
    margin-bottom: -5em;
}

.segment-container {
    padding-top: 8em;
    padding-bottom: 8em;
}
